<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devoops.rentalbrain.product.maintenance.query.mapper.AfterServiceItemQueryMapper">

    <select id="selectRentalItemsByCustomer"
            parameterType="long"
            resultType="com.devoops.rentalbrain.product.maintenance.query.dto.RentalItemForAsDTO">
        SELECT
            A.ID AS itemId,
            A.item_code AS itemCode,
            A.NAME AS itemName,
            A.STATUS AS itemStatus,
            A.repair_cost AS repairCost,
            A.LAST_INSPECT_DATE AS lastInspectDate
        FROM item A
                 JOIN contract_with_item B ON A.ID = B.ITEM_ID
                 JOIN contract C ON B.CONTRACT_ID = C.ID
        WHERE C.CUM_ID = #{customerId}
          AND C.STATUS IN ('P', 'I')

    </select>

</mapper>