<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devoops.rentalbrain.customer.customerlist.query.mapper.CustomerMapper">

    <select id="selectCustomerList"
            parameterType="com.devoops.rentalbrain.customer.customerlist.query.dto.CustomerSearchDto"
            resultType="com.devoops.rentalbrain.customer.common.dto.CustomerDto">
        SELECT
            a.id,
            a.name,
            a.in_charge,
            a.dept,
            a.call_num,
            a.phone,
            a.email,
            a.business_num,
            a.addr,
            a.last_transaction,
            a.first_contract_date,
            a.memo,
            a.star,
            ch.name AS channelName,
            s.name AS segmentName
        FROM customer a
        LEFT JOIN channel ch ON c.channel_id = ch.id
        LEFT JOIN segment s ON c.segment_id = s.id
        <where>
            <if test="name != null and name != ''">
                AND c.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="email != null and email != ''">
                AND c.email LIKE CONCAT('%', #{email}, '%')
        <!-- 사용자가 "naver"라고 검색하면 -> ... LIKE '%naver%'가 되어, "abc@naver.com" 등을 모두 찾아줌 -->
            </if>
        </where>
        ORDER BY c.id DESC
    </select>

    <select id="selectCustomerById" resultType="com.devoops.rentalbrain.customer.common.dto.CustomerDto">
        SELECT
            c.id,
            c.name,
            c.in_charge,
            c.dept,
            c.call_num,
            c.phone,
            c.email,
            c.business_num,
            c.addr,
            c.last_transaction,
            c.first_contract_date,
            c.memo,
            c.star,
            ch.name AS channelName,
            s.name AS segmentName
        FROM customer c
                 LEFT JOIN channel ch ON c.channel_id = ch.id
                 LEFT JOIN segment s ON c.segment_id = s.id
        WHERE c.id = #{id}
    </select>

</mapper>